COMPOSE_PROJECT_NAME=effective-mobile-devops-test
BACKEND_CONTAINER_NAME=effective-mobile-backend
NGINX_CONTAINER_NAME=effective-mobile-nginx
APP_HOST=0.0.0.0
APP_PORT=8080
NGINX_HOST_PORT=80
APP_RESPONSE_FILE=/run/secrets/backend_response.txt
